
$border : 1px solid #000;

/* 代码块 */
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outCell{
    @include flexCenter;
    position : absolute;
    z-index :  99999999; 
    width : 100%;
    height : 100%;
    color : #fff;
}

